<!DOCTYPE html>
<html x-ng-app="">
<head>
	<title></title>
	<link rel="stylesheet" href="style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body>
	<div id="main">
		<h2>Kitty Adoption Gallery!</h2>
		<div x-ng-controller="petsCtrl">
			<span>{{pets.length}} available</span>
			<a href="" ng-click="adopted()">[ clear adopted ]</a>
			<ul>
				<li x-ng-repeat="pet in pets">
					<input type="checkbox" ng-model="pet.adopted">
					{{pet.name}}
					<img src="{{pet.image}}">
				</li>
			</ul>
			<form x-ng-submit="addNewPet()">
				<input type="name" size="30" placeholder="add new pet name here" ng-model="newPetName"/>
				<input type="text" size="30" placeholder="add pet image here" ng-model="newPetImage"/>
				<input type="submit" value="add"/>
			</form>
		</div>
	</div>
</body>
</html>